<h1>Añadir registro en el Listado General de Hinchas</h1>
<p>Por favor digite la información requerida.</p>
<form>
  <fieldset>
    <section>
      <label for="idnum">Numero de identificación: </label>
      <input name="idnum"
             type="number"
             [(ngModel)]="NumID"
             placeholder="Ej. 12345678" />
    </section>
    <section>
      <label for="tipodoc">Tipo Doc.: </label>
      <select name="tipodoc"
              [(ngModel)]="TipoID">
        <option value="Cedula" selected="selected">Cédula de Ciudadanía</option>
        <option value="TarjetaIdentidad">Tarjeta de Identidad</option>
        <option value="Cedulaextranjeria">Cédula de Extranjería</option>
        <option value="Pasaporte">Pasaporte</option>
      </select>
    </section>
    <section>
      <label for="name">Nombre: </label>
      <input name="name"
             type="text"
             [(ngModel)]="Nombre"
             placeholder="Nombre del hincha" />
    </section>
    <section>
      <label for="telefono">Telefono: </label>
      <input name="telefono"
             type="number"
             [(ngModel)]="Telefono"
             placeholder="ej. 12345678" />
    </section>
    <section>
      <label for="gender">Genero: </label>
      <select name="gender"
              [(ngModel)]="Genero">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </section>
    <section>
      <label for="email">Correo Electrónico: </label>
      <input name="email"
             type="email"
             [(ngModel)]="EMail"
             placeholder="correo electrónico" />
    </section>
    <section>
      <label for="fechanac">Fecha de nacimiento: </label>
      <input name="fechanac"
             type="date"
             [(ngModel)]="FechaNacimiento"
             placeholder="Fecha de nacimiento" />
    </section>
    <input value="Guardar informacion"
           type="submit"
           (click)="saveContact()" />
  </fieldset>
</form>
<p [ngSwitch]="resp" *ngIf="resp">
  <span *ngSwitchCase="0">
    El Hincha ha sido registrado correctamente.<br />
    <a [routerLink]='["/entradas"]'>
      Haga click aqui para ingresar hinchas al estadio.
    </a>
  </span>
  <span *ngSwitchDefault>El Hincha ya está registrado en la base de datos.</span>
</p>
<input value="Regresar"
       type="button"
       (click)="resp=null" *ngIf="resp" />

